@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("furaffinity.net") {

/*
Dreamy Moon Glass Theme [v16.06.17]
Made by Christian "Krissy" Silvermoon
*/
	
	/* Menu Bar Theming 
	-----------------------------------------------------------------------------------------------------------------------*/
	a:link {
		color: #00A7FF;
	}
	
	a:visited {
		color: #00A7FF;
	}
	
	
	.block-menu-top {
		position: fixed;
		z-index: 999;
		opacity: 0.3;
		-webkit-transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;
		box-shadow: 0px 1px 42px -8px rgba(0,167,255,1);
	}
	
	.block-menu-top:hover{
		opacity: 0.9;
		-webkit-transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;
	}
	
	.noblock {
		color: #00A7FF;
	}
	
	.header_bkg {
		
background: #00a7ff; /* Old browsers */
background: -moz-linear-gradient(top, #00a7ff 0%, #010101 35%, #0a0a0a 74%, #00a7ff 100%); /* FF3.6-15 */
			color: #00A7FF;
	}
	
	#logout-link {
		color: #B70E19;
	}
	
	#my-username {
		color: #FF005C;
	}
	
	/* Replace Banner with http://i.imgur.com/V9sukNC.png */
	
	div #fa_header {
		padding-top: 120px;
				margin-left: 1em;
				width: 480px !important;
				height: 30px !important;
				background: #040404 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAdMAAAAuCAYAAABzhfPeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz%0AAAAOxAAADsQBlSsOGwAAIABJREFUeJztnXmYFNW1wH%2BnugeQVYQobohGRMUkkriiMRKNCy%2BiSbQz%0A3QMo2YxLFsUYTTS4Pn1q4pZFTFREppuM0Sg%2BiSZuUeOCilFfZFFW2RQF2WRguvu8P6qmp5eqW1U9%0A3TMw9u%2F75mOounXvnb7V99x77lmEGts2jToUoRtbWMAEae7s7tSoMJPUYl96o2TIkGEIaUZJurO7%0AVaOC1Mb4U4F0dgcqhqpwP73YTHeiIf%2BuDBZ19EHpi9IXoR%2BwD8IwYD%2BUYQizicuYsvqW1F2ABxFG%0AhnzyWZQRCH2ALMpShLnAHOA%2FKP9Hb95ijHxSVr9qdC5JHQvchdCt4LqSBjYjbEBZA3wIvAcsQJlN%0AL57hNNnQ8R2uEZraGH9qiHZ2BypGkr2xWFD0ygbDcv4V3JcXAii70agDaZAPQ9e%2FhS304OMyerYR%0Acn%2BRhTAEGAKclOvXJrKkdD7wKlleRHieOG8homW0VyOf6Xooylko%2BwERhFVk%2BSe9SFZkohM%2BBpc3%0AVogCfYA%2BCLsV3YPNNNOoE2mQ3%2BeuqwrT%2BQbwDWBPlBaERWSZyXxmcKVk293fGuGp5BjX2KbpOjtT%0AgJQ%2BBxxdtfqznESDPF7Ws5PUYhjPIhwVqLzyBnAiws1APGRr7wOPIEyhXv4V8tng2H%2FTAcAhCINR%0A7iIhK6rWXkeS1MuAqxDX78j7CDHq5dl2t9Oop2FxN9A%2F5JM3E5cLAZip3fmYvyB83bWk8goZvsk4%0AWda%2BzobA7tM%2FsJhIvbzSYe1ui1RijLsSTbovGVJEOJ6YrOvs7lSKriVMm%2FRA0ryM0Lsq9Svnk5Df%0Alf18Ug9BCDKxNBNhGDFZSkqPBZ4uu03lHhLynbKfz8dWV49EOAI4HDgE6JXX1p0k5OyKtAUwQ3uy%0AgcHAcIQvIhyDsju9Oahs1fZkraM%2Fe9DCflgcDBwFHIkwOjfpJ%2FV0hPt9atpEhMOIydtl9SOflI4E%0AngR6BHziQ5oZygT52Hn%2Bt8B5xieUt4lyCDHZ3J6uBiapv0a4EPgLcTmjQnXejTCh7OeV%2BUT5EjHZ%0AWJH%2BhKG9Y9xVeFqjrOJ54PB2z6fbGF1LmELQibA8lOtJyKXtqiOlr2ALIVM7N5KQi%2B3fVUixAGHv%0AdrQ6jQjnhJ5EGnUgwtcQvgp8BRhqLK%2B8R0IGl1xP6anAb4EdArWrCEJPvCee01BeQXgO6Evw97gH%0ASk%2BP3eYtxOUCZ7f9bqDPW3mShBwfsG0zSZ2IcFOgssoFJOQWoHWVP4%2B2wwrTc5eTkGva0033elWY%0ARh%2B6szNp9kYYhXKJ8zmvZS4DK6JmbtK9SfMMQuk7FpQsB9Agc9vdl3IoZ4ybtDcZDkHYhLKaFlYz%0AXja1uy%2F2scB5KP8D%2FDL3PlWaJo2wmR2pYxDKUCwagNPtPvAwCTmtKu12Al3nzLSVXXmIVawlvEol%0ACINKrtyjPYgykDoGoAwEBub%2BhYEIA5xrfUjIkcAj%2BAlTaMr9JqKkdCowqR39HkuG4TTpaGKyytyy%0AdiPNmcA4RyXtP0nn%2BsqeNOlOxGRNwXXlFWAAElCY%2BovGESTkYZK6AWGfwP0z1z0CgGEcF3jhIhxH%0Akw7KfaaT1GI4PQP3JX9xE%2BV20pzn27aymt7cmft%2FmglI4DEaC1xDo%2B6P8ADQL3Bf87Hbs7DPAruR%0AoidRhAxtn2%2Fb59yf4ewFLCqrrXxisogmPZYMz0PROaM%2FH5LlUhLMo6EdfejoMe5NCx%2FzALATAHVA%0AUjcDqxFWo3yQ%2Bx1Wo85PxPk3zWrGyfqC%2BpN6OCl%2BjXCUM06XMklv40rJ0qjfco6Wgn%2Fv87HfjQjQ%0ADaU7GXbInRiXfvdGlNXGNkrXE6ajJE1SZyLt%2Bsp40Z97dQB1PIiwF7bAtNWc%2BeY%2B7hP2S86%2FTwBX%0AGtpYyzxmF11L0j5hCjCCDE%2FQqF%2BmQdZ6lsrSgORN1mFpYV9gVsG1hKwgqRcCfyi73nzUEaAW3yHL%0Ac84utjJ1%2Bi90CsnQgybdiTQvAHuTCWECl9RGEjIWgJhsJaV3Atf5PDWlSMUdvL%2Fi7PTrUDIcGPg5%0A%2F3rNpNmXSghTsAXqdB3tjHufQM8o96OcTYOsLXtW6KwxHi1bSOrdwEW5u%2FaidDAwuOSzbzWibJ2P%0AokBSt%2BSEra0d2r%2FoqZ05gIOB2dgbgD0D%2F30m%2FBfFezJTuzNatlSkvU6mvNXHts%2BMqtQq7MiZ8hFw%0AO8pg8s8L%2FVB%2BBkAv%2Fg2YVF4LS1RicZkPvG6oezVwL3ALiulAfzgWU4z9tGgkyw%2BB14zlvHH%2FIibk%0ADpRnyqyzGHtXUi%2BzgRsqVOeuqArwn9BPfob1COtK3B%2F8EBpI6Zdz%2F09zL4rZCtsqOsKQMvrbwgeh%0An2kPwu7G%2B%2FdoDxq1P%2FdosPPEenkDi3MClVV%2BTkJixgVkEDpzjKNcB3wUqt3CPnQH9sDeCRYLUpsM%0AX3TKdty7IQjr2LXD2qsyXVOY9uRvKFsDlPwRyiBa6M0g6qjHYhB1KLujnIotoFryytuGTQn5C8IV%0AIXo0kwZ5HsBZcc43lF3jcf0hwzMvEJeziMsFCH5nEGNI6Tc978ZkKw0ymbkcBvzK94tfyi6Gew%2BH%0ArMuLgbnfshWqU4gyhX705GkgaHCMFUT4kFGSJsKpwMuh21Uuzv0%2BTlYi%2FJ%2BhrLKZt4r6PTNEa28A%0AsJWOMUJqYxdS%2BhgpVdefHmzCYg092FxyL6lLSWnpAq1eGgGzdbJyLQmpzGKrM8c4JmtQKn%2FWnY%2BV%0AE7Id%2B26ocb7YruiawtT2ASxWlZaivEtC3me8bGKUpBFRRkmahKwgITOIy1lkGAo87pRvs6yLy1Xk%0An22aEK4uadcb9xV0JuBuOy7PAP%2F0KfVz33qulCxxuRrh1kDttmLlCbpihEdC1eVN21nfWPk3ynsV%0AqbWOfs67M8W3rO10X587E4vJKpo5Fng%2BVJvC6CJhYbLcXlwSBWsOT6EEsSheRpbvAjBBmgMuNiuD%0AsiPKEkMJ73lI2JMse3nc9d7JKv9LnMuDdTAgnTXGAFEmY7u8VQd1jLrMmq1qtLtjh7ZXRbqmMAWQ%0A3BllOFJ6AEm9nUa1V2pjZQn1nAwcT5QzC8pGOAvlOZ8aX6NeCvsiholFcT8%2FaOANR51bSqkByl99%0A%2BnQYTRrMIlIJ50upBpVeXBYAJkvKZexAX9bTjXos4iKk6YdyKDAJZTlAyRmp8KhPn75AhO7MJUI9%0AFs3sQIT9S9TZEafeLL8A3jHUtxXh28SlcOwnSDNbOQ1CqcosYFxe3d6LQLcdzZWSRZkAeFt4KsuJ%0AcHxBwBFph9owLEJfx2WqgbDqSuWlnFYnn6SOAI%2BFm7IUZXxVApd0xhgDxGQz2g5bBn%2Fs763Vge8F%0AQIS%2BHdpeFem6wpQAwtQqMmCYrocCzyGcj%2FAEU9U%2BExVR4vIkMVleUD4mm4kSQ8kYWnmy5Iqy1FDe%0APWaniCIeK2J1LP3a%2Fu%2F%2Ft2cCGq4EtcBtK7%2Bv8b5iCiKR4TTZwNnSkpsIx8l6EvIqcbmKKEPJch5a%0AtKgx1wnCemKylSsli4gyQZqJyTwaZDJxOYQspwNnE5c5ADTIWrKMRPkDsCKn6lY%2BQfk7FkcSlwdd%0A2zpTPkKZaOxPMcrYvP95LzaUha7XG2QWykiUh6Eg0taHwN2Of%2Bm8oqeWU4zyHsp3SbMnmjf5u%2FMo%0AEbqjDAJGoVwLHotEdRYpcUmS5mDf8Srkj65XhR94lM%2BijG%2F3GamJzhhjgCh%2FwmxvUT7CZwBocXkv%0AbF5GOZlm%2BgN%2F8qntYiL0JMMQlFNR7kRxjxiWrYDx4DZC17PmbSXCi0YRB5DNc3VJ6hiyNOYCPgi7%0A04M%2BmFb8YKt%2BkvoKcITrffczR1NIwhbDvVexw8UVU7hCV3YOYEkX7KwiS5%2BQS67PGu8qLyGOurH0%0AXuH7mNJjUaYBfyYhE52AA6Xh1aK8ZBzrSF699%2BkeRJkBrKWFMYyXTTTIAyXP2Lu4c52fcERJkeYK%0AxOezaEU4gKR%2BnoS8iTLfMHbe6uyEvAm%2B5%2BVtKPOQggXV80T5ei4iTVLNYTOVNDHZiq16fB94hqf1%0AClZyNnB9QeAU2wDGZpws4x49nu40Inif3bdRamBlq0zP8ih%2FKw3id8zRfjpjjGOylKS%2BhF%2BMb%2BUc%0Adi0SePMRejKQKKOACyi1ArfnkPGyiaQuLzIau416fppb4Cb1I%2BP8orQ439Ulzs8MGvUShKtRzi3w%0A885%2FN7Zzuq4wtV%2B8NUjRrq2QQxy%2Fyl8Bv%2FBw5vfHjmrkLkzdd3beE5UYhGmWea6CTYqEqcX3Peto%0AI9g5Y%2FhoUnvSpN2cibYUNRpwtI1Vo54GpBx3jguZprcxVtx3PjF5l5R%2BBAxwvd%2Fi1Gv7V%2F4NGAJA%0AlNOxjczaSOlFwJeB3VBf14sVwA0k5LGi%2FmRI6T0QymjkdOBNGmQtSd3qajVqFan5J6nF%2FkzGtqDe%0AFTVOTFmEt8lyKQ3yDrb7UqujyOtEOKEgOpLFhtCmZ3YmlN%2BR1GdQZuaCK2jR7mOCNNOkMTLcj%2Fvi%0AsA2LwRQb%2FSjX5dx8CllCLy4L2evy6KgxLkZ4CHyEaZRnS7LSJHU4YGsHVFOk%2BClwA%2BLIAM1Ttwqz%0AaBuXycTlJwUBTcVjl2nC1hSc77wb03JCtPjd2I7pympeEB%2FfNuEU0ixE%2BGXZghTwMQApFabmcwlv%0Aw5CI5xetP5PUokkjJPVG4BRD%2FXZYtUE8ZizTRlifMwsMTundeBuv3bewA406lJT%2BEosHyDcwifiM%0Aj%2FKm5z3hIBr1FCxeRBxBal93q3NvYAx2vOFhPj%2Bj8PL%2FjfieWxdzet7v7uOcLUqWYJ%2BXjgROBD7v%0A09cDgG8h2KElozyAssUxODmjJMxgtowJs5WE%2FAfleNoWjaUBFmKSoR9x%2FKxjlW8X%2FD%2BpX8XLhzzL%0Ajzo0g1JHjHExEsC9bHORoVJSDweeBY616xAlITdjRxLb6tQbYYbagk1JOk%2B%2BRj9%2BUlK%2Fl8o2CLYn%0ARCJPYxc2%2BMY2S9cWpv6O4v19feCCscDzjtvKK200FjE5MHsJWothnEOG2Uiec7c7WSy%2BHzifot8Z%0AqBstBtVXTDKYdsX2Lv8awr6b5oXTb7CYAQEsByPchJ%2FLRSF3uF61Y%2FYGP7ez1YCtqjcvzUVpOEjb%0Af9l0NJBfNoM46r%2BYLMdiJFH2cgzDCon6TJh%2BUZca5B3sjDurEa5yLTNathBhLOryd7X1%2BZs5P80m%0A7Q3c5VHycRqkUtbiweioMc5nF17Hz3VL8u4n9TvA0wg7IXyhoFxCHsVibE6wfVzg%2Bnc0gzjCNaCC%0A1c53w7Y3uAllDurx%2FdkO6erC1Pswv5KYrHNxUZOKQZiKUZia%2BvBb4PO%2B5ZTLQmU70TKEqd85khoE%0An5QZ4q5SdcZkEXBCQNeRJexKo6FP%2Fu5ZhfwQKJwMC%2Bsr7VODzISAAQzgzwWCs15me2btaPHdffjP%0AHQl5lITsTFz%2B17NMTN4Fl91PK4KgTOM%2B3ZU0vyvQLLSiZIjQOdlVOmKM87EXwebYwhkypPQAUvpX%0AhLvyjpr2KylbL%2FejHIHwtYI0kfXyL88Ft7%2FWIsi7cTEJOZAG6Zg5ugOorDCdpBZP67ZzDps1CrnK%0A0cu4kymNklSHSRXlverUdpuR30tC%2FEKZtdGkO%2BAd%2B9akVvUTwIsD9yE4lavTtuoN4oZwk88Of3Go%0AdoV6HtI%2BntqJiIeldz13YxqPVrJcH7gv%2FX0nzEjguvxIyN1g8EEWBhPlVYTxHiWmVCR7T3ksDlW6%0A3DHORym2zC6kBwuBtyk2SFOP45cGmUW9POFp51Dafse9G9s6eTIv6uQdHAZkyLIRYT11rHfUcYVM%0A1V5E2I0Ie6DshR0fck%2BUwY6xwRBWAdP1%2BKrm0QyKnzqiUoyRT5yg624GK6U70800ewYlU6MKpz3B%0A%2Bx9hEN8L9YTtPlPnek%2B5COHvHk%2F6WThW3jFcWdeOU%2B9ShFuA8w0lPqIXd%2FvUETZ%2FaC82E%2FfUTqjH%0A4tdOhnAbZpeFxxgrbxnuFzJatpDSFrzHv7KL5jRnE%2BEog8Gg%2B9masgUxxrquLh01xoVt%2BuUMdg%2FR%0AJ%2BxBk0Zc5%2FYw%2BM%2Br286Gyo0qybwoH3NnbsXXup7IAEndCKxD%2BASlB3bWj9YD6kJKJ7HKBEpuP36p%0AipZgp%2FCqRIaZ98FVmJbuJrMGRw4x7FqzDChLl6AsZUfOCHxO2oa7hTLMJSH%2FIKlLcU%2BH5SdMTeOy%0AEq%2FJwIRJdV5OnXFZQEqXgEf0HeVPAYxdwufNVM40WHSbVvyl%2FsyF9YaLZGWzEe%2FvRmUnzHGykul6%0AAVpkXe2HcBdxqUwErPLoyDFufX51mQtHixb6Y3bN80fZ6OMas20L0yrJPAthD9cGhd6Occ5QhD2p%0ARGaOjsf8oiuzyHII6mFAlA7hHCCeVnil53X9jcLUdJ5aXh5HYTDrGRP6OeUojzspp943PJ7bm0lq%0AChFn%2Bhu%2FiVs4xIivs7rJqOs64NcubZnrNAW%2F8Iu6ZD9vinPq1faRKMM87nlPtHFZjHe4uRbmeWoR%0AvDGr88IFfA9CvUwFngrxRAsR%2Fqfi%2FQhDR45xG%2BXHz63zcB8Lg59xWjXejUpSJZln%2Bfimbd%2BYdyu2%0Av1SDLCTKV3AzVuppPNssRD3KiosF6VbDuYjJshEX44ugKLcyWd1Vdm40aTfgONd7Ecd03ssdRejO%0AcI8X1sZbiCmr2IFTsANUtLGJ9e4POFiGOoUNxOUiYHLB9YxPnV7uC3ad%2Fha0Ylih28Eo3J4RxCVv%0Aro05GpVXuEklW1ZybpM%2FYfWc7c8huHVyIzExRROrPh09xna95cdVbinTwK%2BwDj9r3m1bplRJ5rUm%0Acu2a%2BJ8%2F2JNpTOzYpeSdRSgZTg2hwvFWz%2FZiphYOXrMhGIB5N2BKhD0NjD5qu9LHx0E%2BnwzH4h6w%0AoYU0d5DUJxC%2B5fl81qjq9TakyrKR02QDEUbnNAaKsthH8JmMs1oXKHM5l%2FzsO5avT19745R6T4zC%0AVZ4LMC%2FUJ%2BVfpePtmt%2FFYOnSwmKnG7wtUNksv6lKH8LRsWNs1xsuxGc%2BVgUEib9xWnXejcpRFZnX%0AtV1j%2FFdIbcIyJovIcBKtWROE9SEDZXtndNhYFKEoavBtNU3w4qkaAngSMbgY2IRR9X7d43odwnEI%0Ax%2BGVGxEgYxCmpshCGeedjMlqopyEfb6z3ndnlTVGK7LrvFKyREjk1LcZH2FqIhNgha8eKjVFmcui%0AnM9nUMJHo2qlG00afgI27UyrGbkmwtWYF4YA%2FwxlUFUtOmeMzTYeyrUGi9%2F2q2Bt31Nv7UEXimoU%0ABgsJYIodnvZZi1UKv1WeFlkqjpW3ECcqSNhURCY%2Fx3SJ8Yt31A%2BvCT6pu2Ha0cFnsGj08bc8zPB8%0AG00aQQPFTfXG5B7jbvVs0yNvzGLyLnH5DAnxD7ZQnLSg8F5%2BnZtJyJHERRgr%2FzbWqezseU84yLdP%0AXsZLwgZHsP8aDfH985q42%2B6791cQWjgwcDtt9ZnUvH6hFsvH9n017zqVVVVrPxwdO8Z23V4p6QCW%0AkJDLSMj%2BKMcBM8g%2FVskWqaUbdR%2BS6h7Fy9zPznk3KkGVZJ5F6WH2%2ByiNKAnS7EY9Fmn6keX72Km9%0AXnMm7A9RNjqCp014KouwfNOSdQxZJxOCN6XCNi7PkJDuJMQ7JJ47pihIexj%2Fn0%2FWw9JOOdjYunKQ%0AY9rtnmXDLrNvID%2FgFk6k%2FZGhTFlpvK29swHUXGHrDKI6c%2BcLhnuJAM97CVz7%2B2Kf9wXLiWvjnSt2%0Ahvb0WcAE6W%2FxM6adaXVTZ23l9wRP0t6ZdNwYt6LGhVHbPJSQp4jLqcAB2PYCr0HecUlSd0N4ApgY%0Ayp4C%2FOLztv9ctrpUReZFgcewM3n8hwivORFJ2rATMa3H9mELp7LobMRHmFbSQtmUucQqUs%2FaMV3d%0AaGacuJ8NWowwti8c7fSjkTTX4hZ3VhBWsCN%2BpvFeWV3CMdIQ8H6451PKLuCR09GEMtxgrh8sQ04%2B%0AU3Vn4HDP%2B8IXSemxTjL2Upp0J9KeavB%2BTFLLUV3fRDDB7G2FCLCBk7E8fELtZyfQqNeESk2mZD0%2F%0AU6Eb92lfz%2Fe1vZwpH5HUhxDqq1J%2FJejoMYZWH0mTVqR0POxz6B8WXLtXBzh%2B4vamoS%2BHAi8E6iOY%0A340gC4LOpSoyzyIuvyEhvyIufy6pdHvHO3qPjX9WkODYn91Kj7unk9QRTNdRpHQKUhS8u60%2FJgfw%0Ao316sA8p%2FayzEvYOHm4Zs%2BhAow4FTvXo3xps39wglqw70MKRJdebtB8mNbcy1Ldu9%2Fa8V%2Bvl1FnH%0ATxFfQ4WbPV2AMoxxXdDYWAx3%2BpSQ1wnuDjLE8474htPrjxU6uIH5XYlU3Z88aDKGzqGjxxhgHUfj%0Alm2mFXNsb5uZ2p06%2Fkb%2BolYNC1x3TO%2FGthJnwJ0qybyubYCkPsEDzGcP5TDD4%2FohCLNRnoKixNaF%0AuMepbNJuBp%2FPfOyEyYJ74mobc%2Fomi196ChHhQeIyhLh0Iy5CXAQME7RwQsm1rO9ZY3jBZ6uuvY2h%0AwtY5Xb9IsOTPB7M%2FP3O9o0wwPpnhpNzvWW4P2DP3CS%2Bp5%2BGX49Lu07lM1yDvUStmzY4V8Ay%2BXNQY%0Aqq8yu5%2F7tC%2BN%2Bj1SegdJbSKp1ztZVoL0r%2BPGuK3N0QHrKaRJu5HSISR1DOt4AOHQohLBtTe225xJ%0AzT%2BQJg17TLbd07WFqfA5nxLl7YK8UO5pZw3ufpu2m0qQXfR3mKq9AO%2FA4vBfnndSuh%2Fqkd7Kxtsg%0Axw3h5JJrytd8ngkz2dus4mhM5vjC53hIg2khkvp5sjxqXP3no1xTMvlO11EIx%2Fg8eUHOZWo%2BM3wE%0ARyv9SWnhAjGpceCWQH0VImRJ0qj%2BEb%2BaNEJxlpFilBu4T8NHqwqOSWAOp0nb5%2BIwXY8iylws%2Fgic%0AjXAGws8RXiKlj5JUbwHTkWPciq0FcddqtfENUvph3s8akvoJGbYAixAexm0OCHPklWaEYUfeWuZe%0AY%2BCWLkjX%2FWObdDD%2Bq9f%2B3KvtjwjSSkJeBp4v61llC5anocJZAWsZSJSriMscwxf3BE9jA%2BX3Pk7o%0AfouTYkZwnxafAXkLc5tDaVKzerEY9a2zjs181beepP4Q4QWDQ30pQrTAJalJe5M1GIG1sRfrmJx3%0ArvaHgC3aC5TJWkdK70BIGsestL%2BDsTjDt5ytQfAz3BpIhCmoVjIqchuWYeElDCLrGfjen5TuR5bH%0A8A4zORqY5brw6KgxLmYYJ%2FgaBtqLwAF5P%2F0D%2BaUGiQnc1oZXmNH8Ml9mfy4NXGcXoOsK04zLeZ0b%0A3X0Me8KSZSJtiW%2BDI1xNvbxScr1J90UDTH5t%2FNix0nvc435f%2BvGVkqvTtcHxHTX1cW8atVC1V%2Bxe%0AVEwkL1BEUndB%2BZKxPFikDcEg3PETpqDEAtTzU%2FwFiBt2Sqwm3YEMD%2BKXgq6NMxnm5PpMM4VgkX9%2B%0AgKrQnwHA2WX0FcQnhReUJuX2rusEks7xQiWZqjv7aEkgy625XKfhudnXp9NeeNxccK0jx7i0P35%2B%0A5B1FsHcDJjFdg7iQdQm27YDE7eP4QKWynAg8UbFWG2QWSb0O%2BEWIp6YR8UiPleaakp2HLayXAfMR%0A3gEWo%2FRCGIDQg7isoFFnYHlMtsoY8v%2FmlA5B%2BW2gngr%2FTf5nK75%2Bcd%2BG3HlR3Fc9ZHMRk%2FSuQCHw%0ApunBCAcEqDPGNP0FY8U7LV9CTOeuZhp1KBlS4LtYKMZ2ZxkvH5DSRylOm1XK55jO5cTlKtzCbVcC%0AW3NhOtsvxOJ6pupfGS8fVKwPddyOW8alfOyjj7%2BT1FuIcr1nbtZi7tM9UE4O9OkpY2nUC2iQtR0%2B%0AxuQlVbfP8U%2FyfqSDSOpwCLhRgTqyTIYyjm62Q7qmMFUVUpwYcKo5CTyMSMplHpczjKGI746yGeUy%0A5nGzp%2BDIcBFR1mLnTXwHYT7NvMsEMfvg1fE4aVa5qiyVU4EfA7YxQYb7wSWGsBvCcST1xySkNeSb%0Anyp9JCn9LHNZlGvTv4392J9fAVf4lrW4IGCdUSzuZKaOcSK4VBbhdOxJNuu4DaSx04M1YwfhX4ey%0ABmEl8B7K2wjPk5DFebW8gP9EC8oVpHS2Mel2e%2BjLjzBZXJeyI1F%2BRqW%2BR0m9GAJpEgB6IFxCmmMI%0AOmnXcTQacHYQIkTZGVjbqWOsXB2ov9VGCJ4P2S4%2FkqT%2BFwnxTwyxnVOdlW1nM12PQHkxcPkIwyue%0AXHiSWgzjRleXBSWNMJUI1xAT74hF7SWpNyJc5HpPOZSEvMp9ugcRXkBCmLMrinIyDfI4SV2E%2BJjz%0AKzcCL%2FpYGRc%2F8wIJMU%2BOTTqINEtCGAutQ9mXBmlfCqpqkdTDEUOmmnzsCF0HkhC%2F3JbhsNWYqzBb%0Aa7r1ZzUJCWeg5kZKf0JQg6o23kS51UkyHqSNC3HLIuRFlv1okHdC9smdcsZY%2BRxWld2ElOtJiPmM%0AM6UjgfB5qpX7SUjQxdF2S9fcmWapD7VMyHAxwY18gmHvNCeS0geAy53wZ6%2BjzKaOfxOT8HkQw6Lc%0ABUz0COBQD7zKOFnG07oPKzkG4UjgMgotY1sc37VuQMRxm5lLhI006e5kAmSyEb6PMCTvJDnrLCia%0AsQOBrwM%2BApZjq65fIhogZViaU%2FIEaRbIOH3djB2hZQ227%2B8CYDZRHiUma3zr7SzizCLFu5giGdkZ%0AQxYA84lWIftFTDaT1FUIm7GPEpYDy1CWYbGcLMuIspxmljFe%2FPIFB%2BdpjbKKG8BH02C%2FN3Owfan%2F%0ARYSnQmeOEd4PZdWQqWAy%2B3LGOO2cSdt%2F%2BwYqk385v71PCJJHNs1SImwFVtH6bgjLUOffLMuxWEaE%0AFR7BWro0XW9naq%2BslxPuhWshwrCq7hI7i5T%2BHVytIj8EjiEuc3JXknodwiUlJZVxJKQ0nVRSf4QE%0AzPAh3EWWOSQk%2BI7Aj6naizquYS4Ty0oxti0yXUeh3I%2FSjL2wmIcyH2UedcwHFjlhI6uHqoRM8tB%2B%0A3N%2B9FY6q9G2yvAW8SR1vEZPy83kCNOnupFlAkFRhyjMkxCtiWXmEHeMm3ZssvbCY3%2BlCqjPeje2E%0AridMG%2FXGjJVwAAAB1UlEQVR7jt9YOJQF7MjwqpyndSYp%2FTrwiMfdFmyf1CUoX0Jwt4xUniQhhQZd%0A9rn0HMyZbPLrUJQf0CDbV0jKGh3DDO3JJi7GzjW5CXiMhLzq91jZJPVaxNdIsBnhUOolfHjLGp86%0AupYwbdIIaeYaVSjePM5cRneZHU4rttB7k2BZTjzqYCMJKQx6kNJvA9ND1rSMuezV5T7jGtsftk3D%0AFMSJxFqMksFiLPUS9h2v8SmlawnTRv0KFs8Are4jWSANbIU8izvbMm8lylIs3kb5F3HxzvqyvVOe%0A4GtDyTCPbjkheI%2FuSHfmBA5uoCjCKpSFCGd26c%2B6xvbFdG0gy%2FnAQY7faQvKLCx%2BTr2EN7ap8aml%0AawnTpzXKSu4gyiRisryzu7PNYO9OX6Y0HmfA54us8dxUx7Yh0WJgIcJCYCFZFlLHAuwzoPadc9Wo%0AUaPGNkzXEqY1vGnUw7B4kfBRr%2F5BmtMLUm01aW%2FSTEQcwdnCQsaJV8acGjVq1Ojy1ITpp4mUXo3t%0A%2BhKElcAV1PPHmvVejRo1apjpurF5a5QS4QrgLz6lZqF8l2b2IS531gRpjRo1avhT25l%2B2rDPlS9B%0AOBelH%2FABsBjhMeCvxGV%2BJ%2FewRo0aNbY7%2Fh8rTMYHJFF4sAAAAABJRU5ErkJggg%3D%3D%0A) no-repeat scroll 0% !important;
		}
	
	/*SFW Button changes, no background changes, turn font green when SFW is active*/
	.noblock.sfw-toggle.active {
		background: #00a7ff; /* Old browsers */
background: -moz-linear-gradient(top, #00a7ff 0%, #010101 35%, #0a0a0a 74%, #00a7ff 100%); /* FF3.6-15 */
	}
	
	.noblock.sfw-toggle.active>a:link {
		color: #10EF8F;
	}
	
	.noblock.sfw-toggle.active>a:visited {
		color: #10EF8F;
	}
	
	
	/* End of Menu Bar Theming 
	---------------------------------------------------------------------------------------------------------------------*/
	
	.button, .oldest, .newest, .hand {
		border-radius: 6px;
	}
	
	hr {
		color: #00A7FF;
	}
	
	
	/*Background Theming*/
	html {
	background-color: black;
	}
	
	body>div {
		background-color: black;
		color: #00A7FF;
	}
	
	.page-galleryscraps {
		background-color: black;
	}
	
	.footer {
		color: #00A7FF;
	}
	.footer>p>a:link {
		color: #00A7FF;
	}
	
	.footer>p>a:visited {
		color: #00A7FF;
	}
	
	.addpad {
		background-color: black;
	}
	
	h4 {
		background: #0088aa; /* Old browsers */
background: -moz-linear-gradient(left, #0088aa 3%, #000000 100%); /* FF3.6-15 */
	}
	
	.page-name, .user-name, .page-options {
		background: #0e0e0e; /* Old browsers */
background: -moz-linear-gradient(top, #0e0e0e 0%, #003d3f 100%); /* FF3.6-15 */
	}
	
	.note-list-container {
		background-color: black;
	}
	
	.journal-header {
		background-color: black;
	}
	
	.journal-body {
		background-color: black;
	}
	
	.journal-footer {
		background-color: black;
	}
	
	.textarea {
		border-radius: 6px;
background: #0e0e0e; /* Old browsers */
background: -moz-linear-gradient(top, #0e0e0e 0%, #003d3f 100%); /* FF3.6-15 */
		color: #00A7FF;
	}
	
	.minigallery-container {
		border-radius: 6px;
		background: #2d3033; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #2d3033 0%, #000000 100%); /* FF3.6-15 */
		
	}
	.folder-list-container {
		border-radius: 6px;
		background: #2d3033; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #2d3033 0%, #000000 100%); /* FF3.6-15 */
	}
	
	#JSMessage {
		border-radius: 6px;
		background: #0e0e0e; /* Old browsers */
background: -moz-linear-gradient(top, #0e0e0e 0%, #003d3f 100%); /* FF3.6-15 */
		color: #00A7FF;
	}
	
	tbody {
		background-color: black;
	}
	
	table {
		background-color: black;
	}
	
	body>div {
		background-color: black;
	}
	
	.folder-list {
		background-color: black;
	}
	
	.textbox {
		border-radius: 6px;
		background: #0e0e0e; /* Old browsers */
background: -moz-linear-gradient(top, #0e0e0e 0%, #003d3f 100%); /* FF3.6-15 */
		color: #00A7FF;
	}
	
	.listbox {
		border-radius: 6px;
		background: #0e0e0e; /* Old browsers */
		background: -moz-linear-gradient(top, #0e0e0e 0%, #003d3f 100%); /* FF3.6-15 */
		color: #00A7FF;
	}
	
	.even>preview {
		background-color: #003d3f;
	}
	
	.inline-button {
		border-radius: 6px;
	}
	
	.maintable {
		background-color: black;
	}
	
#page-galleryscraps .folder-list{
	border-right:3px solid #003d3f;
}

	#page-galleryscraps .pagination{
		background-color: #003d3f;
	}
	
	
	.alt1 {
		background-color: black;
	}
	
	#notespage .note-view-container {
		border: 0px;
	}
	
	.pagination>a:link{
		border-radius: 4px;
	}
	
	.pagination>a:visited{
		border-radius: 4px;
	}
	
	.alt2 {
		background-color: black;
	}
	
	.tab>u {
background: #0a0809; /* Old browsers */
background: -moz-linear-gradient(top, #0a0809 0%, #0a0e0a 24%, #176d75 100%); /* FF3.6-15 */
		color: #00A7FF;
	}
	
	.tab>b>a:link {
background: #0a0809; /* Old browsers */
background: -moz-linear-gradient(top, #0a0809 0%, #0a0e0a 24%, #0f494c 100%); /* FF3.6-15 */
		color: #006A9B;
	}
	
	.tab>b>a:visited {
background: #0a0809; /* Old browsers */
background: -moz-linear-gradient(top, #0a0809 0%, #0a0e0a 24%, #0f494c 100%); /* FF3.6-15 */
		color: #006A9B;
	}
	
	/*Menu Theming */
	ul.dropdown li:hover>a.dir {
		background: none;
		color: white;
	}
	
	li ul {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,005d75+100 */
background: #000000; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #000000 50%, #005d75 100%); /* FF3.6-15 */
		color: #006A9B;
	}
	
	li ul li a:link:hover, li ul li a:visited:hover {
		background: none;
	}
	
	a[title="Submission Notifications"], a[title="Note Notifications"], a[title="Journal Notifications"], a[title="Comment Notifications"], a[title="Favorite Notifications"], a[title="Watch Notifications"] {
		color: orange;
	}
	
	
	/*------------*/
	
	.lead {
	 background: #000000; /* Old browsers */
background: -moz-linear-gradient(left, #000000 0%, #0088aa 100%); /* FF3.6-15 */
	}
	
	/* Header Bar theming */
	.cat, .pseudo_header {
		border-radius: 12px;
		background: #000000; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #000000 20%, #0088aa 99%); /* FF3.6-15 */
		color: #00A7FF;
		text-align: center;
	}
	
}